<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="awscli" />
  <!-- <package id="azure-cli" /> -->
  <package id="Cmder" />
  <package id="docker-desktop" />
  <package id="docker-kitematic" />
  <package id="dotnetcore-sdk" />
  <package id="dotnetfx" />
  <package id="FiraCode" />
  <package id="firefox-dev" version="69.0.3-beta" />
  <package id="git" />
  <package id="gitextensions" />
  <package id="jetbrains-rider" />
  <package id="keepassxc" />
  <package id="malwarebytes" />
  <!-- <package id="mattermost-desktop" />
  <package id="microsoft-teams" /> -->
  <package id="netfx-4.7-devpack" />
  <package id="nvm" />
  <package id="notepadplusplus" />
  <package id="nuget.commandline" />
  <package id="postman" />
  <package id="powershell-core" />
  <package id="python3" />
  <package id="slack" />
  <package id="spacesniffer" />
  <package id="vscode" />
  <package id="wox" />
</packages>