<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="docker-desktop" />
  <package id="docker-kitematic" />
  <package id="dotnetfx" />
  <package id="FiraCode" />
  <package id="malwarebytes" />
  <!-- <package id="microsoft-teams" /> -->
  <package id="netfx-4.7-devpack" />
</packages>